# caches
__pycache__
.ruff_cache

# configs
config/*
!config/defaults.yaml

# IDE configurations
.idea
.vscode

# logs
out
multirun

# datasets

data/cifar10
data/cifar100
data/mnist
data/emnist
data/fmnist
data/femnist/data
data/femnist/meta
data/medmnistS
data/medmnistC
data/medmnistA
data/covid19
data/celeba/data
data/celeba/meta
data/synthetic
data/svhn
data/usps
data/tiny_imagenet
data/cinic10
data/domain/raw

# data files
*.npy
*.pkl

# output files
*.csv
*.json
*.png
*.pt
