torch~=2.1.2
rich~=13.3.5
torchvision~=0.16.2
torchaudio~=2.1.2
numpy~=1.26.3
visdom~=0.2.4
Pillow~=10.0.1
scipy~=1.10.1
pandas~=2.0.1
matplotlib~=3.7.1
faiss-cpu~=1.7.4
scikit-learn~=1.2.2
pynvml~=11.5.0
PyYAML~=6.0.1