torch~=2.2.0
rich~=13.3.5
torchvision~=0.17.0
torchaudio~=2.2.0
numpy~=1.26.3
visdom~=0.2.4
Pillow~=10.2.0
scipy~=1.12.0
pandas~=2.2.0
matplotlib~=3.8.2
faiss-cpu~=1.7.4
scikit-learn~=1.4.0
pynvml~=11.5.0
PyYAML~=6.0.1
ray[default]~=2.10.0
tensorboard~=2.16.2