cvxpy==1.7.3
faiss-cpu==1.9.0
flwr-datasets==0.4.0
hydra-core==1.3.2
matplotlib==3.10.3
pandas==2.2.3
Pillow==11.1.0
pynvml==12.0.0
pytorch-minimize==0.0.2
PyYAML==6.0.2
ray[default]==2.49.2
rich==13.9.4
scikit-learn==1.7.0
scipy==1.15.2
statsmodels==0.14.4
tensorboard==2.17.1
torch==2.8.0
torchvision==0.23.0
visdom==0.2.4
